@{
    ViewData["Title"] = "Начало";
}

<h1 class="display-4">Намери мечтания автомобил </h1>
<br />
<div class="text-center background align-text-bottom">
    <form >
        <button asp-action="Index" asp-controller="Car" class="text-dark " style="justify-content:flex-end">Всички автомобили</button>
    </form>
</div>
<br />
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
    <a asp-controller="Home" asp-action="Register" class="text-dark">Регистрирай се от тук -></a>
</div>