@model CarMVC.Models.UserVM;

@{ ViewData["Title"] = "Регистрация "; }
<h1 class="text-center">Регистрация</h1><br />
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger "></div>
            <div class="form-group text-center ">

                <label asp-for="Town_id" class="control-label">Населено място:</label>
                <select asp-for="Town_id" class="form-control">
                    @foreach (var town in Model.Town)
                    {
            <option value="@town.Id">@town.Name</option>
}
                </select>
                <span asp-validation-for="Town_id" class="text-danger"></span>
                <a class="text-muted" href="@Url.Action("Index", "Town")"> Не намираш своя град в списъка? Добави го от тук -></a>

                    <br />

                    <label asp-for="Username" class="control-label">Потребителско име:</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                    <br />

                    <label asp-for="Password" class="control-label">Парола:</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <br />
                    <label asp-for="Email" class="control-label">Имейл:</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <br />

                    <label asp-for="FirstName" class="control-label">Име:</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                    <br />
                    <label asp-for="LastName" class="control-label">Фамилия:</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                    <br />
                    <label asp-for="Phone" class="control-label">Телефон:</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                    <br />

                    <div class="form-group">
                        <input type="submit" value="Регистрирай се" class="btn btn-primary" />
                    </div>
            </div>
            
        </form>
    </div>
    
</div>
<div class="text-right">
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
